@import "reset.css";

:root {
  --link: #c7ae20;
}

html {
  scroll-behavior: smooth;
}

/* Images -------------------------------------------------------------------------*/

img {
  width: 50px;
}

/* Typography ---------------------------------------------------------------------*/

/* Images -----------------------------------------------------------------------*/

/* Queries ------------------------------------------------------------------------*/

@media only screen and (max-width: 960px) {}
