@import "styles-reset.css";
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");

:root {
  --link: #c7ae20;
}

html {
  scroll-behavior: smooth;
  font-family: Overpass, Arial, Helvetica, sans-serif;
}

#page > div {
  margin: 36px 0;
}

/* Images -------------------------------------------------------------------------*/

img {
  width: 50px;
}

/* Typography ---------------------------------------------------------------------*/

/* Images -----------------------------------------------------------------------*/

/* Queries ------------------------------------------------------------------------*/

@media only screen and (max-width: 960px) {}
