nav {
    position: relative;
    width: 21rem;
    height: 100vh;
    background: var(--dark);
    color: var(--light);
}

nav.closed {
    margin-left: -21rem;
}

nav::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .6;
    background: url(../resources/woodgrain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#navtoggle, nav.closed #navtoggle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 2.5rem;
    right: 1rem;
    height: 0.6rem;
    transform: scaleY(2.5);
    font-size: 1.2rem;
    color: var(--tan);
}

nav.closed #navtoggle {
    right: -1.5rem;
    transform: scaleY(2.5) rotate(180deg);
}

h1 {
    position: relative;
    margin: 2rem;
    font-size: 1.5rem;
    line-height: 1.4em;
}

#navlinkslist {
    position: relative;
    display: flex;
    flex-direction: column;
}

#navlinkslist::before {
    content:"";
    display: block;
    position: absolute;
    top: 4%;
    left: 3rem;
    width: 1px;
    height: 92%;
    background: #fff4;
}

#scroller{
    display: block;
    position: absolute;
    top: 4%;
    left: 2.8rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    background: var(--light);
    transition: all 300ms cubic-bezier(0.5, 0, 0.5, 1);
    transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}
  
.navlinks {
    margin: 0.5rem 2rem 0.5rem 4rem;
    cursor: pointer;
}

.navlinks.current {
    color: var(--light);
}

.pages { display: none; }
.pages.show { display: block; }
