@import "reset.css"; 
@import "style-nav.css"; 
@import "styles-maincontent.css"; 

body {
  margin: auto;
  font-family: sans-serif;
}

div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
