@import "reset.css"; 
@import "style-nav.css"; 
@import "styles-maincontent.css"; 
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,900;1,300;1,900&display=swap');

:root {
  --darkest: #2c2c35;
  --dark: #373741;
  --brown: #695646;
  --darktan: #9c8e7f;
  --tan: #cec2b6;
  --light: #FFFDFB;
  
  --lightglass: #ece8e480;
  --lightglassborder: #9c8f8130;
  --darkglass: #5f5c5a50;
  --darkglass80: #2c2c3580;
  --darkglassborder: #B4A99C50;
}

html {
  overflow: overlay;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: auto;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  line-height: 1.5em;
  background: var(--darkest);
}

div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer {
  margin: 0 auto 2rem 2rem;
  padding-right: 2rem;
  text-align: left;
  font-size: 0.85em;
  z-index: 1;
}

::selection {
  background: var(--tan);
  color: var(--brown);
}

/* Scrollbar -------------------------------------------------------------------- */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #fff5;
  padding: 0 0.25rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #0000;
}

/* Darkmode ---------------------------------------------------------------------- */

#darkmode, .dark #darkmode:hover {
  position: absolute;
  font-size: 1.2rem;
  bottom: 2.4rem;
  left: 2.1rem;
  cursor: pointer;
  color: var(--light);
  opacity: 1;
} 

.dark #darkmode, #darkmode:hover {
  color: var(--tan);
  opacity: 0.65;
}

.dark footer { color: var(--tan); opacity: 0.75; }

/* Mobile ---------------------------------------------------------------------- */

@media screen and (max-width: 650px) {
  #darkmode, .dark #darkmode:hover {
    font-size: 1rem;
    top: 0.9rem;
    left: auto;
    right: 5rem;
  }
}
