#navlinkslist {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 260px;
    /* height: 100vh; */
}
  
.navlinks {
    background: yellow;
}

.navlinks.current {
    background: pink;
}

.pages {
    display: none;
}

.pages.show {
    display: block;
}
