
#maincontent {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin-left: 16rem;
    background: var(--light);
    color: var(--dark);
}

#maincontent::before {
    content: "";
    display: block;
    position: fixed;
    width: 40%;
    height: 100%;
    bottom: -5rem;
    right: 0;
    background: url(../resources/plant-leaves.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

body.navclosed #maincontent {
    margin-left: 0;
}

.pages { display: none; }
.pages.show { 
    display: flex;
    flex-direction: column;
}

/* Tags ------------------------------------------------------------------------ */

.tags {
    margin: 0 0 2rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}

.tags li {
    margin: 0 0.75rem 0.75rem 0;
    background: var(--lightglass);
    border: solid 1px var(--lightglassborder);
    border-radius: 0.5rem;
    box-shadow: 0.15rem 0.2rem .5rem 0 #0001;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    font-size: 0.85em;
}

.tags li a { 
    display: block;
    padding: 0.25rem 0.5rem;
    color:var(--darktan); 
}
.tags li a:hover { color:var(--brown); }

/* Typography ------------------------------------------------------------------ */

h2, h3, p, ul { width: 100%;}

h2, h3 { 
    text-align: center;
    line-height: 1.2em; 
}

h2 {
    margin: 0 auto 1.5rem auto;
    font-size: 2.2em;
    color: var(--brown);
}

h3 {
    margin: 0 auto 1.5rem auto;
    font-size: 1.6em;
    color: var(--darktan);
}

p, li {
    text-align: left;
    color: var(--dark);
    line-height: 1.5em;
    margin-bottom: 0.5rem;
}

a { 
    text-decoration: none;
    color: var(--darktan);
    transition: all 300ms cubic-bezier(0.5, 0, 0.5, 1);
    transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}
a:hover { color: var(--brown); }

ul {
    list-style: disc;
    margin-left: 2.5rem;
}

/* Sections -------------------------------------------------------------------- */

#pagelist {
    width: 100%;
    padding: 2.2rem 2rem 0 2rem;
}

.pages { width: 100%; }
.pages > div {
    width: 100%;
    padding: 2rem;
    margin: auto 2rem 2rem 2rem;

    background: var(--lightglass);
    border: solid 1px var(--lightglassborder);
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem .75rem 0 #0001;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

/* Darkmode -------------------------------------------------------------------- */

.dark #maincontent {
    background: var(--dark);
    color: var(--light);
}

.dark .tags li a { color:var(--tan); }
.dark .tags li a:hover { color:var(--light); }

.dark h2 {
    color: var(--light);
}

.dark h3, .dark p, .dark li, .dark a:hover {
    color: var(--tan);
}

.dark a { color: var(--light); }

.dark .pages > div, .dark .tags li {
    background: var(--darkglass);
    border: solid 1px var(--darkglassborder);
    box-shadow: 0.25rem 0.25rem .75rem 0 #0002;
}
